/*******************
General 

**************/


/*navigation bar*/

nav{
text-align:center; 
padding: 10px 0; 
margin 20px 0 0 ; 
}


nav{
  background: #2ECBF3; 
  
}

nav a, nav a:visited {
 color:#fff;  
  
}


nav a.selected, nav a:hover{
  color:#0091B8; 
 
 
  
}


nav ul{
  list-style: none;
  margin: 0 10px; 
  padding:0 ; 
  text-align: right; 
  
  
}

nav li{
 display: inline-block; 
  
  
}


nav a{
 font-weight:800; 
  padding: 15px 10px;
  

}

/*Header and Main Information bar*/


header{

  margin: 0 0 0px 0px;
  padding: 5px 0 ;
  background: #2ECBF3;
  border-bottom:5px solid #0091B8; 

}

header h1{
color: #fff;
text-decoration: none;
padding-left: 20px;
padding-top: 2cm;
font-family: 'Roboto', sans-serif; 
margin: 15px 0;
font-size: 3em; 
font-weight: normal;
line-height: 0.8em;



}
header h2{
color: #fff;
padding: 0;
padding-left: 20px;
font-size: 0.75em;   
margin: 0; 
font-family:'Open Sans', sans-serif;
font-weight: normal;


}


a{
  text-decoration: none;


}
/*******************
Main Page/Log in Sign Up
**************/

/*About Section*/

#about p{
font-size: 20px;


}


#about h2{
 color:#fff;
 font-size: 40px;
 text-align: center;

}
#about{
background: #778899;
margin:0px;
padding: 70px;
font-family: 'Open Sans', sans-serif;
font-size: 10px;
}

#about img{
float: right;
border-radius: 100%;




}




/*Community Section*/
#community p{
font-size: 20px;
text-align: right;


}


#community h2{
 color:#fff;
 font-size: 40px;
 text-align: center;

}
#community{
background: #f08080;
margin:0px;
padding: 70px;
font-family: 'Open Sans', sans-serif;
font-size: 10px;
}

#community img{
float: left;
border-radius: 100%;




}

/*Log In Section*/
#login p{
font-size: 20px;
text-align: right;


}


#login h2{
 color:#fff;
 font-size: 40px;
 text-align: center;

}
#login{
background: #20b2aa;
margin:0px;
padding: 70px;
font-family: 'Open Sans', sans-serif;
font-size: 10px;
}


/*Special: Styling of Sign Up Form*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

form h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
form a{
color:#ff1493;


}

form a:hover{
color:#adff2f;

}




